body
{
	font-family: montserrat!important;
}
main{
	overflow: hidden;
	min-height: 80vh;
}
#main-navbar{
	margin-left: 13%;
	margin-top: 20px;
	border-radius: 50px;
	background-color: #0A2639;
}
.nav-link{
	color: white;
	font-size: 16px;
	border: 5px solid #ffffff00;
}
.nav-link:hover{
	border: 5px solid #E0C35F;
	color: #E0C35F!important;
}
/*effect hover*/
.effect-hover {
	--first-color: #49CBC5;
	--second-color: #044932;
	--third-color: #8DC440;
}
@property --rotate {
syntax: "<angle>";
initial-value: 132deg;
inherits: false;
}
.effect-hover::before, .effect-hover::after{
	opacity: 0;
	content: "";
	transition: all 0.5s ease-in-out;
}
.effect-hover:hover::before, .effect-hover:hover::after{
	position: absolute;
	z-index: -1;
	background-image: linear-gradient(
	var(--rotate)
	, var(--first-color), var(--second-color) 43%, var(--third-color));
	animation: spin 2.5s linear infinite;
	opacity: 1;
}
.effect-hover:hover::before {
width: 104%;
height: 104%;
border-radius: 8px;
top: -2%;
left: -2%;
}
.effect-hover:hover::after {
top: 0;
left: 0;
right: 0;
height: 100%;
width: 100%;
transform: scale(0.9);
filter: blur(70px);
}
@keyframes spin {
0% {
	--rotate: 0deg;
}
100% {
	--rotate: 360deg;
}
}
